
#main-content .container{
    max-width: 1280px;
    padding: 0 15px;
}

.page-title-wrapper{
    display: block;
    padding-left:0;
    margin-bottom: 20px;
}

.cart-container{
    width:100%;
}

/*Cart header Css*/
.cart-items .cart-header {
    text-align: right;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 6px solid #eeeeee;
}
.cart-items .cart-header .item {
    text-align: left;
    width: 60%;
}
.cart-items .cart-header .price {
    width: 13.33%;
}
.cart-items .cart-header .quantity {
    width: 13.33%;
}
.cart-items .cart-header .subtotal{
    width: 13.33%;
}
.cart-items .cart-item{
    display: flex;
    flex-direction: column;
    padding-top:10px;
    border-bottom: 6px solid #EEEEEE;
}
.cart-items .cart-item .item-data  {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
}
.cart-items .cart-item .item-data .item-image {

    width: 130px;
    max-height: 165px;
}
.cart-items .cart-item .item-data .item-image img{
    max-height: inherit;
    max-width: inherit;
    width: 100%;
}

.cart-items .cart-item .item-data .img-details {
    width: 60%;
    display: flex;
}

.cart-items .cart-item .item-data .item-details .item-brand {
    display: block;
}

.cart-items .cart-item .item-data .item-details .item-title{
    display: block;
}

.cart-items .cart-item .item-data .item-details .item-size {
    display: block;
}

.cart-items .cart-item .item-data .item-details .item-deal {
    display: block;
}

.cart-items .cart-item .item-data .item-price {
    width: 13.33%;
    text-align: right;
}

.cart-items .cart-item .item-data .item-qty {
    width: 13.33%;
    text-align: right;
}

.cart-items .cart-item .item-data .item-subtotal{
    width: 13.33%;
    text-align: right;
}

.cart-items .cart-item .item-action{
    display: block;
    text-align: right;

    min-height: 20px;
    padding-bottom: 15px;
}
.cart-items i{
    cursor: pointer;
    margin-left: 32px;
}
.cart-items i:hover{
    font-size:20px;
}

/*Cart summary CSS*/
.cart-summary .cart-summary-inner-wrapper {
    background: #eee;
    padding: 1px 20px 40px;

}
.cart-summary .cart-summary-inner-wrapper h2{
    margin: 5px 0 12px 0;
    font-size: 1.2rem;
    font-weight: 800;

}
.cart-summary .cart-summary-inner-wrapper .cart-pricing{
    border-top: 2px solid #fff;

}
.cart-summary .cart-summary-inner-wrapper .cart-pricing .subtotal{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.cart-summary .cart-summary-inner-wrapper .cart-pricing .tax{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.cart-summary .cart-summary-inner-wrapper .cart-pricing .shipping{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cart-summary .cart-summary-inner-wrapper .cart-pricing .total{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #fff;
    margin-top: 10px;
    padding-top:12px;
    font-size: 1.2rem;
    font-weight: 800;
}

.cart-summary .cart-summary-inner-wrapper .checkout-cta {
    display:flex;
    justify-content: center;
    margin: 35px 0 0px;

}
.cart-summary .cart-summary-inner-wrapper .checkout-cta button{
    background: #11873b;
    padding: 0 20px;
    color: white;
    height: 50px;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}















