.active {
  display: block;
}

.product-container {
  background: var(--content-bg-color);
  margin: 40px auto 50px auto;
  padding: 0 20px;
}

.product-images-wrapper {
  display: inline-block;
}

.product-images-wrapper .product-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-images-wrapper .product-images .main-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.product-images-wrapper .product-images .main-img {
  min-height: 500px;
  max-height: 500px;
  width: 400px;
  height: auto;
}

.product-images-wrapper .product-images .other-images {
  display: flex;
  overflow: auto;
  width: 100%;
}

.product-images-wrapper .product-images .other-images img {
  display: flex;
  overflow: auto;
  height: 100px;
  width: 100px;
  max-width: 350px;
  max-height: 150px;
}

.product-information-wrapper {
  text-align: left;
}

.product-information-wrapper .product-brand {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.product-information-wrapper .product-brand a {
  padding: 4px 6px 3px;
  background: #e1ff0d;
}

.product-information-wrapper .product-brand span {
  display: inline-block;
  text-transform: uppercase;
}

.product-information-wrapper .product-title {
  padding: 0 0 20px;
  margin: 0 0 20px;
  border-bottom: 6px solid #f9f8f6;
}

.product-information-wrapper .product-title h4 {
  font-size: 34px;
}

.product-information-wrapper .product-price-sku {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.product-information-wrapper .product-price-sku .product-price {
  font-weight: 600;
}

.product-information-wrapper .product-price-sku .product-price {
  display: block;
  font-size: 34px;
}

.product-information-wrapper .product-price-sku .product-sku {
  display: flex;
  align-items: center;
}

/*Size Options CSS are below*/
.product-information-wrapper .sizes {
  display: flex;
  margin-top: 6px;
}

.product-information-wrapper .sizes .size-container {
  display: flex;
  flex-direction: column;
  min-width: 40px;
  min-height: 40px;
  padding: 15px 10px 15px 0;
  justify-content: center;
  align-items: center;
}

/*Size quantity and add to cart css*/
.product-information-wrapper .qty-addtocart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.product-information-wrapper .qty-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.product-information-wrapper .qty-wrapper .control {
  display: flex;

}
.product-information-wrapper .qty-wrapper .control input {
  width:40px;

}


.product-information-wrapper .qty-addtocart .addtocart-btn {
  color: white;
  background: #11873b;
  padding: 0 10px;
  font-size: 1.4rem;
  height: 50px;
  width: 60%;
}

.product-information-wrapper .wishList-socialLinks {

  width: 100%;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.product-information-wrapper .wishList-socialLinks a {
  color: black;
  width: 100%;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.product-information-wrapper .wishList-socialLinks .fas.fa-heart {
  margin-right: 8px;
}

.product-information-wrapper .wishList-socialLinks .product-info {
}

.product-information-wrapper .product-info .item {
  border: 1px solid #e1e1e1;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;

}

.product-information-wrapper .product-info .item-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;


}

.product-information-wrapper .product-info .item .item-content {
  display: none;
}

.product-information-wrapper .product-info .item .item-content.reviews {
  display: none;
}


.colors-box-wrapper {
  margin-bottom: 40px;
}

.sizes-box-wrapper {
  margin-bottom: 20px;
}

.product-container .related-products {
  margin-top: 60px;

}

.product-container .related-products .row {


  margin-left: -20px;
}

.product-container .related-products .title {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 1.2rem;
}


.product-container .related-products .row .product-item .product-item-info .product-item-photo .product-image .image {

  max-width: 262px;
  max-height: 328px;

}

.product-container .related-products .row .product-item .product-item-info .product-item-photo .product-image .image {


  width: 100%;
}